.website-top {
  display: flex;
  justify-content: space-between;
  background-color: rgb(236, 236, 236);
  padding: 5px;
  font-size: small;
}

.website-top-heading {
  display: flex;
  list-style: none;
  gap: 10px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.third-heading {
  text-align: center;
  background-color: rgb(236, 236, 236);
  padding: 10px;
}

.header-nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
}

.header-nav-list {
  display: flex;
  gap: 15px;
  list-style: none;
  padding-left: 0px;
}

.header-logo {
  width: 85px;
  padding-left: 10px;
}

.header-cart-logo {
  display: flex;
  gap: 10px;
  cursor: grab;
  list-style: none;
  padding-left: 0px;
  margin: 10px;
}

.nav-list {
  cursor: pointer;
}

.search {
  padding-top: 13px;
}
.input-box {
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid black;
}
.search-button {
  border: none;
  font-size: 20px;
  padding-top: 5px;
  cursor: pointer;
  color: white;
  background-color: black;
}
