.search-here{
    display: flex;
    justify-content: center;
}

.quick-assists-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact-us-countainer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    place-items: center;
}